---
import { toHTML } from '@portabletext/to-html';
import classNames from '@sindresorhus/class-names';
import { Image } from '@unpic/astro';
import { imageUrlFor } from '../lib/sanity';
import type { StudioInfo } from '../lib/types';
import s from './over-de-studio.module.css';

interface Props {
  studioInfo: StudioInfo;
}

const { studioInfo } = Astro.props;

const extractInstagramUsername = (url: string) => (url.match(/([^/]+)\/?$/) ?? [])[1];
---

<main class={s.wrapper}>
  <h1>Over de Studio</h1>

  <div class={s.shortDescription}>{studioInfo.shortDescription}</div>

  {
    studioInfo.description.map(({ image, text, title }) => (
      <div class={s.textBlock}>
        <Image
          src={imageUrlFor(image).minHeight(700).minWidth(260).url()}
          alt={title}
          width={130}
          class={classNames(s.image, s.portrait)}
        />
        <Image
          src={imageUrlFor(image).height(150).width(900).url()}
          alt={title}
          height={75}
          class={classNames(s.image, s.landscape)}
        />

        <h2>{title}</h2>

        <div class={s.text} set:html={toHTML(text)} />
      </div>
    ))
  }

  <dl class={s.contact}>
    <dt>Mail</dt>
    <dd>
      <a href={`mailto:${studioInfo.email}`}>{studioInfo.email}</a>
    </dd>

    <dt>Instagram</dt>
    <dd>
      <a href={studioInfo.instagram}>{extractInstagramUsername(studioInfo.instagram)}</a>
    </dd>
  </dl>
</main>
